@inherits LayoutComponentBase
<div class="page">
    <!--<header class="sidebar">
        <NavMenu />
    </header>-->

    <header class="navigation">
        <Navigation />
    </header>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<!--

- overview
    - game overview
        - assets (manifests)
        - price history

- account
    - manage
        - login
        - logout
        - revoke access for archiving manifests
    - api
        - get game info
        - webhooks
        - download manifests
        - provide account for archiving manifests
    

-->