<a class="logo" href=""></a>
<nav>
    <div class="nav-link">
        <NavLink href="" Match="NavLinkMatch.All">
            <Blazicon Svg="FluentUiIcon.Home"/>
            <span>Home</span>
        </NavLink>
    </div>
    <div class="nav-link">
        <NavLink href="api">
            <Blazicon Svg="FluentUiIcon.UsbPlug"/>
            <span>API</span>
        </NavLink>
    </div>
    <div class="nav-link">
        <NavLink href="account">
            <Blazicon Svg="FluentUiIcon.Person"/>
            <span>Account</span>
        </NavLink>
    </div>
</nav>

@code {
    
}
