@page "/"

<PageTitle>Home</PageTitle>

<div class="side-25px">
    <h1>Plan for this page</h1>
    <ul>
        <li>Find a better font</li>
        <li>
            Epic overview
            <ul>
                <li>
                    Game overview
                    <ul>
                        <li>Assets (manifests)</li>
                        <li>Price history</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
